<nav>
  <div>
    <!-- <a href="#">Events</a> -->
    <!-- <a href="#">Hall of fame</a> -->
  </div>

  <div id="nav--col3">
    {% if request.user.is_authenticated %}
    <a class="btn btn--secondary" href="{% url 'account' %}"
      >{{request.user.team_name}}</a
    >
    <a class="btn btn--primary" href="{% url 'logout' %}">로그아웃</a>
    {% else %}
    <a class="btn btn--secondary" href="{% url 'login' %}">로그인</a>
    <a class="btn btn--primary" href="{% url 'register' %}">회원가입</a>
    {% endif %}
  </div>
</nav>
