{% extends 'matchingMatch/base.html' %} {%load static%} {% block extra_head %}
<link rel="stylesheet" href="{% static 'css/applying_team_list.css' %}" />
{% endblock%}

{% block content %}
  <body>
    <main class="wrap w-100 v-100 d-flex bg-light justify-content-center p-0">
      <div class="d-flex flex-column bg-white " style = "width:700px;">
        <div class="list">
          <h4>매칭 참여자 목록</h4>
          {% if applying_team_list %}
          <form
          action="{% url 'matchingMatch:applying_team_list' match.pk %}"
          method="post"
          >
          <!-- card-list -->
          <div class="d-flex flex-row row justify-content-center">
            {% for list in applying_team_list %} {% csrf_token %}
            <div class="card shadow-sm justify-content-center m-3 col-sm-3 col-xs-6 ">
              <a href="{% url 'matchingMatch:team_detail' list.team_id.id %}" style="text-decoration:none; color:black;">
                <div class="card border justify-content-center m-1" style="height:150px; width:150px">
                  <img class="user--team_logo justify-content-center align-items-center" src="{{list.team_id.team_logo.url}}" style="width:100%;"/ >
                </div>
                
                <div class="card-body justify-content-center p-2" >
                  <div class="team_name text-center p-0" style="font-size: 14px;" >
                    {{list.team_id.team_name}}
                  </div>
                  <div class="team_score text-center p-0" style="font-size: 12px;" >
                    실력 점수: {{list.team_id.level}}
                    <br>
                    매너 점수: {{list.team_id.manner}}
                  </div>
                </div>
              </a>
              <div class="btn-group-toggle m-1">
                <input type="radio" class="btn-check" name="select_participant" value="{{list.team_id.id}}" id="{{list.team_id.id}}" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="{{list.team_id.id}}">선택하기</label>
              </div>
            </div>
            {% endfor %}
          </div>
          
          <!-- button -->
          <div class="button">
            <input type="submit" value="마감하기" />
          </div>
          </form>
          {% else %}
          <div>
            아직 신청한 팀이 없습니다
          </div>
          {% endif %}
        </div>
        <hr/>
      </div>
    </main>    
  </body>
  
{% endblock content %}

