
{% extends 'matchingMatch/base.html' %}

{% block content %}
  <body>

    <div class="section">
      <h1>비밀번호 변경</h1>
    </div>

    <form method="POST">
      {% csrf_token %}
      <div class="form-field--wrapper">
        <label>새로운 비밀번호 입력</label>
        <input class="form-field--input" type="password" name="password1" />
      </div>

      <div class="form-field--wrapper">
        <label>새로운 비밀번호 재확인</label>
        <input class="form-field--input" type="password" name="password2" />
      </div>

      <div class="form-field--wrapper">
        <input class="btn btn--primary" type="submit" value="비밀번호 변경" />
      </div>
    </form>
  </body>
{% endblock content %}