<!DOCTYPE html>
{% load static %}
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
    <body>
        {% include 'matchingMatch/navbar.html' %}
        <div class="section">
            <h1>팀 계정 탈퇴 확정</h1>
            <h3>팀 계정 탈퇴 확정 시 계정 기록이 모두 삭제됩니다. 계속하시려면 아래 버튼을 클릭해 삭제를 확정해주세요.</h3>
        </div>
    
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn">팀 계정 탈퇴</button>
        </form>
    </body>
</html>
