<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>매칭매치</title>
</head>
<body>
  <header>
    <h1>Matching Match</h1>
    <h1>매칭매치</h1>
    {%if alarm %}
    <div>모달</div>
    {% endif %}
  </header>
  <main>
    <div class="week">
      <div class="date"></div>
    </div>
    <div>
      <div class="match_detail_btn">
        <a href="">매치 상세 설정</a>
      </div>
    </div>
    <div class="match_list">

    </div>
    <div class="match_register_btn">
      <a href="{% url 'matchingMatch:match_register'%}">매치 등록하기</a>
    </div>
  </main>
  <script>
    let date = new Date()
    console.log(date)
    const thisYear = date.getFullYear()
    const thisMonth = date.getMonth()
    const thisDate = date.getDate()
    const thisDay = date.getDay()
    const lastDate = new Date(thisYear, thisMonth + 1, 0).getDate()
    daysKorean = ['일', '월', '화', '수', '목', '금', '토']
    days=[]
    dates = []
    
    if (thisDate+6 <= lastDate) {
    for(let i = thisDate; i < thisDate + 7; i++) {
      dates.push(i)
    }
  } else {
    for (let i = thisDate; i < lastDate + 1; i++) {
      dates.push(i)
    }
    restDateCount = 7 - (lastDate - thisDate + 1)
    for (let i = 1; i < restDateCount + 1; i++) {
      dates.push(i)
    }
  }



  let dayIndex = thisDay
  dates.forEach((date, i) => {
    let condition = dayIndex%7 == 0 ? 'sun' : dayIndex%7 == 6 ? 'sat' : 'rest_day'
    dates[i] = `<div class='date ${condition}'><div>${daysKorean[(dayIndex++%7)]}요일</div><div>${date}일</div></div> ` 
  })
  
  const week = document.querySelector('.week')
  week.innerHTML = dates.join('')
  </script>
</body>
</html>