{% extends 'matchingMatch/base.html' %}

{% block content %}
	<body>
		<header>
			<h1>Matching Match</h1>
			<h1>매칭매치</h1>
			<div class="alarm_modal_list"></div>
		</header>

		<main>
      <div class="plans_mode">
        <label>슬라이드 <input type="radio" value="week_slideshow" name="mode" id="slide" checked></label>
        <label>캘린더 <input type="radio" value="calendar_container" name="mode" id="calendar" ><label>
      </div>
      <div class="calendar_container">
        <div class="calendar_header">
          <div class="year_month"></div>
          <div class="nav">
            <button class="nav_btn go_prev">&lt;</button>
            <button class="nav_btn go_today">Today</button>
            <button class="nav_btn go_next">&gt;</button>
          </div>
        </div>
        <div class="calendar">
          <div class="days">
            <div class="day">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day">토</div>
          </div>
          <!-- 날짜 영역 -->
          <div class="dates">
          </div>
        </div>
      </div>
			<div class="week_slideshow">
				<ul class="week">
					<li class="date">
						<div>x요일</div>
						<div>x일</div>
					</li>
				</ul>
        <p class="controller">
          <span class="prev">&lang;</span>
          <span class="next">&rang;</span>
        </p>
			</div>

			<button name="gender" data-toggle="false" data value data-type="female">
				여성
			</button>
			<div class="match_filter container">
				<button
					class="btn btn-primary"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#matchFilter"
					aria-expanded="true"
					aria-controls="matchFilter"
				>
					상세설정
				</button>
				<form action="" method="get">
				<div id="matchFilter" class="collapse">
					<div class="container">
						<p>지역</p>
						<div class = "row">
			
							{%for region in filter_form.region%}
							<div class = "col-2">{{region}}</div>
							{%endfor%}
						</div>
						<div>
							<b>마감 여부</b>
						<select name="is_matched" >
							{% for option in filter_form.is_matched%}
							{{option}}
							{%endfor%}
						</select>
						</div>
						<div>
							<b>성별</b>
							{{filter_form.gender}}
						</div>
						<input class = "btn btn-primary" type="submit" value = "확인">
					</div>
				</form>
					<!-- <div class="gender">
						<b>성별</b>
						<button name="gender" data-toggle="true" data value data-type="all">
							전체
						</button>
						<button
							name="gender"
							data-toggle="false"
							data
							value
							data-type="male"
						>
							남성
						</button>
						<button
							name="gender"
							data-toggle="false"
							data
							value
							data-type="female"
						>
							여성
						</button>
						<button
							name="gender"
							data-toggle="false"
							data
							value
							data-type="mixed"
						>
							혼성
						</button>
					</div>
					<div class="region">
						<b>지역</b>
						<button name="gender" data-toggle="true" data value data-type="all">
							전체
						</button>
						<button
							name="gender"
							data-toggle="false"
							data
							value
							data-type="westnorth"
						>
							서북권
						</button>
						<button
							name="gender"
							data-toggle="false"
							data
							value
							data-type="middlenorth"
						>
							도심권
						</button>
						<button
							name="gender"
							data-toggle="false"
							data
							value
							data-type="eastnorth"
						>
							동북권
						</button>
						<button
							name="gender"
							data-toggle="false"
							data
							value
							data-type="westsouth"
						>
							서남권
						</button>
						<button
							name="gender"
							data-toggle="false"
							data
							value
							data-type="eastsouth"
						>
							동남권
						</button>
					</div>
					<div class="is_matched">
						<b>마감 여부</b>
						<button name="gender" data-toggle="true" data value data-type="all">
							전체
						</button>
						<button
							name="gender"
							data-toggle="false"
							data
							value
							data-type="is_not_matched"
						>
							마감 안됨
						</button>
					</div>
					<div class="time">
						<b>시간</b>
						<button name="time" data-toggle="true" data value data-type="all">
							전체
						</button>
						<button
							name="time"
							data-toggle="false"
							data
							value
							data-type="beforenoon"
						>
							오전
						</button>
						<button
							name="time"
							data-toggle="false"
							data
							value
							data-type="afternoon"
						>
							오후 12시~6시
						</button>
						<button
							name="time"
							data-toggle="false"
							data
							value
							data-type="night"
						>
							오후 6시 이후
						</button>
					</div>
				</div> -->
			</div>

			<ul class="match_list">
				{% for match in matches %}
				<a href="{% url 'matchingMatch:match_detail' match.pk%}">
					<div>{{match.start_time}} ~ {{match.end_time}}</div>
					<div>
						축구장 : {{match.stadium.stadium_name}}
						<br />성별 : {{match.get_gender_display}}
					</div>
					<div>
						{% if match.is_matched %}
						<div>
							{{match.host_id.team_name}} vs {{match.participant_id.team_name}}
						</div>
						<div>매치성사</div>
						<br />
						{% else %}
						<div>{{match.host_id.team_name}}</div>
						<div>찾는 중</div>
						<br />
						{% endif %}
					</div>
				</a>
				{% endfor %}
			</ul>
			<div class="match_register_btn">
				<a href="{% url 'matchingMatch:match_register'%}">매치 등록하기</a>
			</div>
		</main>
	</body>
{% endblock content%}