{% extends 'matchingMatch/base.html' %}
{%load static%}
{%block extra_head%}
<script defer>

</script>

{%endblock%}
{%block modal%}
<div class="alarm_modal_list"></div>
{%endblock%}
{% block content %}

<body>

<div class="alarm_modal_list"></div>
<main class="wrap w-100% d-flex bg-light justify-content-center p-0">
	<div class = "main_container d-flex flex-column bg-white">
		<div class="banner p-2">
		<img src="{%static 'image/banner_photo.jpg' %}" alt="banner_image">
		</div>
		<div class="plans_mode">
		<div class="mode">
			<img src="{% static 'icon/arrows-left-right-solid.svg' %}" alt="슬라이드"> <input type="radio" value="week_slideshow" name="mode" id="slide" checked>
		</div>
		<div class="mode">
			<img src="{% static 'icon/calendar-solid.svg' %}" alt="캘린더"> <input type="radio" value="calendar_container" name="mode" id="calendar" >
		</div>
		
		</div>
		<form id = "date-form" action="" method = "get">

		<div class="calendar_container sticky-top">
			<div class="calendar_header">
				<div class="year_month"></div>
		<div class="nav">
			<button type = "button" class="nav_btn go_prev">&lt;</button>
			<button type = "button" class="nav_btn go_today">Today</button>
			<button type = "button" class="nav_btn go_next">&gt;</button>
		</div>
		</div>
		<div class="calendar">
		<div class="days">
			<div class="day">일</div>
			<div class="day">월</div>
			<div class="day">화</div>
			<div class="day">수</div>
			<div class="day">목</div>
			<div class="day">금</div>
			<div class="day">토</div>
		</div>
		<!-- 날짜 영역 -->
		<div class="dates">
		</div>
		</div>
	</div>
		<div class="week_slideshow sticky-top ">
		<ul class="week">
			<li class="date">
				<div>x요일</div>
				<div>x일</div>
			</li>
		</ul>
		<p class="controller">
			<span class="prev">&lang;</span>
			<span class="next">&rang;</span>
		</p>
		</div>
	

	
	<div class="match_filter container d-flex flex-row" style="font-size:12px;">
		<button
		class="btn btn-outline-primary"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#matchFilter"
		aria-expanded="true"
		aria-controls="matchFilter"
		style="font-size:13px;"
		>
		상세설정
		</button>

		<div id="matchFilter" class="collapse">
		<div class="container">
			<b>지역</b>
			<br>
				<div id = "regions" class = "row">
					{%for option in filter_form.region%}
					
					<div class = "col-4 col-sm-2">
					{{option}}
					</div>
					{%endfor%}

				</div>
				<button type = 'button' class = "btn btn-outline-info btn-sm" id = "region-all-check" style="font-size:12px;">전체 선택</button>
				<button type = 'button' class = "btn btn-outline-info btn-sm" id = "region-all-cancel" style="font-size:12px;">전체 선택 해제</button>
				<div>
					<b>마감 여부</b>
					<br>
					{% for option in filter_form.is_matched%}
					{{option}}
					{%endfor%}

				</div>
				<div>
					<b>성별</b>
					<br>
					{% for option in filter_form.gender%}
					{{option}}
					{%endfor%}
				</div>
				<input class = "btn btn-outline-info btn-sm" type="submit" value = "확인" style="font-size:12px;">
			</div>
		</div>
		</div>
	</form>
		<div class="match_list d-flex flex-column flex-nowrap align-items-center ">
		{% for match in matches %}
		<a href="{% url 'matchingMatch:match_detail' match.pk%}"  class="w-100" style="text-decoration:none;">
			<div class="list-group-item d-flex  p-2 text-black border-bottom align-items-center justify-content-center" >
				<div class="time-wrap btn btn-warning h-50" style="font-size: 12px;">
					<strong>{{ match.date|date:"M d" }}일
					<br>
					{{match.start_time}}
					</strong>
				</div>
				<div class="info-wrap col-6 p-3"  >
					<div class="match-wrap" >
					<strong>{{match.stadium.stadium_name}}
					</strong>
					
					<br>
					{{match.get_gender_display}}
					</div>
					{% if match.is_matched %}
					<div>
						{{match.host_id.team_name}} vs {{match.participant_id.team_name}}
					</div>
					{% else %}
					<div>
						{{match.host_id.team_name}}
					</div>
					{%endif%}
				</div>
				<div class ="host-wrap">
					{% if match.is_matched %}
					<div class="btn btn-primary d-flex justify-content-center align-items-center py-3 " style="font-size: 12px; width:80px;">
						<div>
							<strong>매치성사</strong></div>
					</div>
					{% else %}
					<div class="btn btn-danger d-flex justify-content-center align-items-center py-3 " style="font-size: 12px; width:80px;">
						<div>찾는 중</div>
					</div>
					{% endif %}
				</div>
			</div>   
		</a>
		{% endfor %}
		</div>
		<div class="match_register_btn">
		<a href="{% url 'matchingMatch:match_register'%}" style="text-decoration:none">
			<div class="btn btn-success m-3">
				매치 등록하기
			</div>
		</a>
		</div>
	</div>
</main>
</body>
<script>
	const checkMode = (e, theother) => {
		document.querySelector(`.${e.target.value}`).style.display = 'block'
		document.querySelector(`.${theother}`).style.display = 'none'
	}
	const slideModeBtn = document.querySelector('#slide')
	const calendarModeBtn = document.querySelector('#calendar')
	slideModeBtn.addEventListener('click', (e) => checkMode(e, 'calendar_container'))
	calendarModeBtn.addEventListener('click', (e) => checkMode(e, 'week_slideshow'))
	
	const sendRequest = async () => {
		const url = "/match/ended/";
		let userMatches = await axios.get(url);
		userMatches = userMatches.data.userMatches;
		console.log("userMatches:", userMatches);
		createModal(userMatches);
	};
	window.onload = () => {
		sendRequest()
	}
	window.setInterval(sendRequest, 1000000); //30분마다 Ajax 요청
	
	const createModal = (userMatches) => {
		const alarmModalList = document.querySelector(".alarm_modal_list");
		
		/*
		alarmModalList.addEventListener('click', (e)=> {
			alarmModalList.classList.toggle('show')
			console.log(e.target)
		})
		*/
		alarmModalList.classList.toggle('show')
		alarmModalList.innerHTML = "";
		for (let i = 0; i < userMatches.length; i++) {
			match = userMatches[i];
			alarmModalList.innerHTML += `
			<div class="alarm_modal" id="${i}">
				<div class="exit_modal">
					<img src="{% static 'icon/xmark-solid.svg' %}"></img>
				</div>
				<div>${match.host_teamname} VS ${match.participant_teamname}</div>
				<div>경기 종료 시간: ${match.end_time}</div>
				<div>즐거운 경기 되셨나요? 수고한 상대팀에게 좋은 점수 부탁드려요!</div>
				<form action="/rate/${match.match_id}" method="post">
					{% csrf_token %}
					<label>실력: <input name="level" type="number" max="10"></label>
					<label>매너: <input name="manner" type="number" max="10"></label>
					<div class="rate_save">
						<input type="submit" value="완료">
					</div>
				</form>
			</div>
			`;
		}
		const exitModal = document.querySelector('.alarm_modal .exit_modal')

		exitModal.addEventListener('click', (e)=> {
			alarmModalList.classList.toggle('show')
			console.log(e.target)
		})
	};
</script>
{%endblock%}
