{% extends 'matchingMatch/base.html' %} {% load static %} {% block content %}
<body>
	{{ match_form.errors }} {{match_form.non_field_errors }}
	<div class="wrap w-100 vh-100 d-flex bg-light justify-content-center p-0">
		<div class="d-flex flex-column bg-white" style="width: 700px">
			<form
				action="{% url 'matchingMatch:match_register' %}"
				method="post"
				enctype="multipart/form-data"
				class="mt-3 d-flex flex-column justify-content-center text-center mx-5"
			>
				{% csrf_token %}

				<label for="gender"> 성별 </label>
				<div>{{match_form.gender}}</div>

				<label for="date"> 날짜 </label>
				<input name="date" type="date" id="date" />

				<label for="start_time">시작시간</label>
				<input name="start_time" type="time" id="start_time" />

				<label for="end_time"> 끝나는 시간</label>
				<input name="end_time" type="time" id="end_time" />

				<label for="stadium"> 축구장 </label>
				<input
					id="stadium_search"
					list="stadium_list"
					placeholder="축구장 검색"
				/>
				<datalist id="stadium_list">
					{% for stadium_object in stadium_name_list %}
					<option data-value="{{stadium_object.id}}">{{stadium_object.stadium_name}}</option>

					{% endfor %}
				</datalist>
				<input type="hidden" name="stadium" id="stadium_search-hidden" />

				<label for="stadium_cost"> 축구장 비용 </label>
				<input
					type="text"
					name="stadium_cost"
					placeholder="원구장비/상대팀 부담비용"
				/>

				<label for="etc"> 기타사항 </label>
				<input name="etc" type="text" id="etc" placeholder="기타사항" />
				<div
					class="g-recaptcha"
					data-sitekey="6Lc6UZEkAAAAAKB5hLtF7-cnZtOPcuvgzKRaJPDq"
				></div>
				<input type="submit" , value="저장하기" />
			</form>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"
	></script>
</body>
<script>
	window.onload = () => {
		const options = document.querySelectorAll("#stadium_list option");
		const check = new Map();
		for (let i = 0; i < options.length; i++) {
			console.log(options[i].innerText);
			check.set(options[i].innerText, options[i].getAttribute("data-value"));
		}

		document
			.getElementById("stadium_search")
			.addEventListener("input", function (e) {
				var input = e.target,
					list = input.getAttribute("list"),
					hiddenInput = document.getElementById(
						input.getAttribute("id") + "-hidden"
					),
					inputValue = input.value;
				hiddenInput.value = inputValue;
				console.log(check.has(inputValue));
				console.log(inputValue);
				if (check.has(inputValue)) {
					hiddenInput.value = check.get(inputValue);
				}
			});
	};
</script>

{% endblock content %}
