<!DOCTYPE html>
<html lang="en">
	{% load static %}

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>매치 상세</title>
	</head>
	<body>
		<h1>{{match.stadium}}</h1>

		<h3>날짜: {{match.date}}</h3>
		<h3>시작시간: {{match.start_time}}</h3>
		<h3>종료시간: {{match.end_time}}</h3>

		주최자 아이디: {{match.host_id.team_name}} 로고: {{match.host_id.team_logo}}
		<br />성별: {{match.get_gender_display}} <br />기타사항 : {{match.etc}}

		<h3>
			지역: {{match.stadium.location}}
			<br />주소: {{match.stadium.address}}
		</h3>

		{% if user == match.host_id and match.is_matched == False %}
		<form action="{% url 'matchingMatch:applying_team_list' match.pk %}">
			<button>신청자 목록 확인하기</button>
		</form>

		{% elif user == match.host_id and match.is_matched == True %}
		<button class="end">마감되었습니다</button>

		{% if user == match.host_id and match.is_matched == False %}
		<form action="{% url 'matchingMatch:applying_team_list' match.pk %}">
			<button>신청자 목록 확인하기</button>
		</form>

		{% elif user == match.host_id and match.is_matched == True %}
		<button class="end">마감되었습니다</button>

		{% elif match.host_id != user and status == 0 %}
		<div id="enroll-btn">
			<button class="enroll" onclick="changeEnroll({{ match.id}}, 'enroll')">
				신청하기
			</button>
		</div>
		{% elif match.host_id != user and status == 1 %}
		<div id="enroll">
			<button
				class="enroll-btn"
				onclick="changeEnroll({{ match.id}}, 'enroll-cancel')"
			>
				신청취소
			</button>
		</div>
		{% endif %}
	</body>
	<script>
		const strip = (string) => {
			return string.replace(/^\s+|\s+$/g, "");
		};

		const requestEnroll = new XMLHttpRequest();

		const changeEnroll = (id, type) => {
			const url = "/change_enroll/";
			strip(type);

			requestEnroll.open("POST", url, true);
			requestEnroll.setRequestHeader(
				"Content-Type",
				"application/x-www-form-urlencoded"
			);
			requestEnroll.send(JSON.stringify({ id: id, type: type }));
		};

		requestEnroll.onreadystatechange = () => {
			if (requestEnroll.readyState === XMLHttpRequest.DONE) {
				if (requestEnroll.status < 400) {
					const { id, type } = JSON.parse(requestEnroll.response);
					const element = document.getElementById("enroll-btn");
					if (type == "enroll-cancel") {
						element.innerHTML = `<button class="enroll" onclick="changeEnroll(${id}, '${type}')">  신청취소 </button>`;
					} else {
						element.innerHTML = `<button class="enroll" onclick="changeEnroll(${id}, '${type}')">  신청하기 </button>`;
					}
				}
			}
		};
	</script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>
