{%load static%}

{% for match in matches %}
<a
	href="{% url 'matchingMatch:match_detail' match.pk%}"
	class="w-100"
	style="text-decoration: none"
>
	<div
		class="list-group-item d-flex p-2 text-black border-bottom align-items-center justify-content-center"
	>
		<div class="time-wrap btn btn-warning h-50" style="font-size: 12px">
			<strong>
				{{ match.date|date:"M d" }}일
				<br />
				{{match.start_time}}
			</strong>
		</div>
		<div class="info-wrap col-6 p-3">
			<div class="match-wrap">
				<strong> {{match.stadium.stadium_name}} </strong>
				<br />
				{{match.get_gender_display}}
			</div>
			{% if match.is_matched %}
			<div>
				{{match.host_id.team_name}} vs {{match.participant_id.team_name}}
			</div>
			{% else %}
			<div>{{match.host_id.team_name}}</div>
			{%endif%}
		</div>
		<div class="host-wrap">
			{% if match.is_matched %}
			<div
				class="btn btn-primary d-flex justify-content-center align-items-center py-3"
				style="font-size: 13px; width: 80px"
			>
				<div><strong>매치성사</strong></div>
			</div>
			{% else %}
			<div
				class="btn btn-danger d-flex justify-content-center align-items-center py-3"
				style="font-size: 13px; width: 80px"
			>
				<div><strong>찾는 중</strong></div>
			</div>
			{% endif %}
		</div>
	</div>
</a>
{% endfor %}

