{% extends 'matchingMatch/base.html' %}

{% block content %}
<body>
    <div class="wrap w-100 vh-100 d-flex bg-light justify-content-center p-0">
        <div class="d-flex flex-column bg-white " style = "width:700px;">
            <div class="section text-center mt-3">
                <h4>우리 팀이 신청한 매치 목록</h4>
            </div>  

            <div class="waiting accordion m-3" id="accordionExample" style="font-size:12px;">
                <!-- 대기중인 매치 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:black; font-size:14px;">
                            대기 중인 매치 목록
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% for request in my_match_requests %}
                            {% if request.match_id.is_matched == False %}
                            <div class="match d-flex flex-row justify-content-center align-items-center m-2">
                                <div class="match_type col-3  text-center">
                                    확정 대기중
                                </div>
                                
                                <div class="main-info justify-content-center col-5 ">
                                    <a href="{% url 'matchingMatch:match_detail' request.match_id.id %}" style="text-decoration:none;">
                                        <div class="infoone" style="color:black;">
                                            {{request.match_id.date}}
                                            {{request.match_id.start_time}}
                                        </div>
                                        <div class="infotwo" style="color:black;">
                                            {{request.match_id.stadium.stadium_name}}
                                            {{request.match_id.host_id.team_name}}
                                        </div>
                                    </a>
                                </div>
                                
                                <div class=" col-4 text-center ">
                                    <form action="{% url 'matchingMatch:my_apply_matches' request.team_id.pk %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" value="{{request}}" class="btn btn-outline-warning" style="color:black; font-size:12px;">매치 신청 취소</button>
                                        <button type="submit" name="request_object_id" value="{{request.id}}">매치 신청 취소</button>
                                    </form>
                                </div>
                            </div>
                            <hr>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- 성사된 매치 목록 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="color:black; font-size:14px;">
                            성사된 매치 목록
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="color:black;">
                        <div class="accordion-body">
                            {% for match in ended_yet %}
                            <div class="match d-flex flex-row justify-content-center align-items-center m-2">
                                <div class="match_type col-3 text-center">
                                    경기 시작전
                                </div>
                                <div class="main-info justify-content-center col-5">
                                    <a href="{% url 'matchingMatch:match_detail' match.id %}" style="text-decoration:none;">
                                        <div class="infoone" style="color:black;">
                                            {{match.date}}
                                            {{match.start_time}}
                                        </div>
                                        <div class="infotwo" style="color:black;">
                                            {{match.stadium.stadium_name}}
                                            {{match.host_id.team_name}}
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-4 text-center">
                                    <form action="{% url 'matchingMatch:cancel_game' match.pk %}" method="post">  
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-warning" style="color:black; font-size:12px;">경기 취소<br>(매치등록 상태로 돌아갑니다)</button>
                                    </form>
                                </div>
                            </div>
                            <hr>
                            {% endfor %}

                            {% for match in ended %}
                            <div class="match d-flex flex-row justify-content-around align-items-center m-2">
                                <div class="match_type col-3 text-center">
                                    경기 종료
                                </div>
                                
                                <div class="main-info justify-content-center col-5">
                                    <a href="{% url 'matchingMatch:match_detail' match.id %}" style="text-decoration:none;">
                                        <div class="infoone" style="color:black;">
                                            {{match.date}}
                                            {{match.start_time}}
                                        </div>
                                        <div class="infotwo" style="color:black;">
                                            {{match.stadium.stadium_name}}
                                            {{match.host_id.team_name}}
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 text-center">
                                    
                                </div>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
                

        </div>
    </div>
</body>
{% endblock content %}