{% extends 'matchingMatch/base.html' %}
{% block content %}

<div class="wrap w-100 vh-100 d-flex bg-light justify-content-center p-0">
    <div class="d-flex flex-column bg-white " style = "width:700px; ">
        <div class="notice-list d-flex flex-column justify-content-center text-center m-2">
            <h3>공지사항 목록</h3>
            <table class="notice table table-hover px-3 " style="font-size: 12px;">
                <thead style="font-style: oblique;">
                    <tr>
                        <th>제목</th>
                        <th>조회수</th>
                        <th>등록일</th>
                        <th>수정일</th>
                        <th>작성자</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notice in notices %}
                        <tr onclick="location.href='{% url 'matchingMatch:notice_detail' notice.pk %}'" style="cursor:pointer;">
                            <th>{{notice.title}}</th>
                            <th>{{notice.hits}}</th>
                            <th>{{ notice.created_at|date:"M d" }}일</th>
                            <th>{{ notice.updated_at|date:"M d" }}일</th>
                            <th>{{notice.writer}}</th>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="">이전</a></li>
                    <li class="page-item"><a class="page-link" href="">1</a></li>
                    <li class="page-item"><a class="page-link" href="">2</a></li>
                    <li class="page-item"><a class="page-link" href="">3</a></li>
                    <li class="page-item"><a class="page-link" href="">다음</a></li>
                </ul>
            </nav>
        </div>
        <a href="{% url 'matchingMatch:notice_create' %}">글 작성</a>
    </div>
</div>


{% endblock content %}