{% extends 'matchingMatch/base.html' %}
{% block content %}

<div class="wrap w-100 vh-100 d-flex bg-light justify-content-center p-0">
    <div class="d-flex flex-column bg-white " style = "width:700px; ">
        <div class="notice-list d-flex flex-column justify-content-center text-center m-3">
            <h4>공지사항</h4>
            <table class="notice table table-hover px-3 " style="font-size: 12px;">
                <thead style="font-style: oblique;">
                    <tr>
                        <th>제목</th>
                        <th>조회수</th>
                        <th>등록일</th>
                        <th>수정일</th>
                        <th>작성자</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notice in notices %}
                        <tr onclick="location.href='{% url 'matchingMatch:notice_detail' notice.pk %}'" style="cursor:pointer;">
                            <th>{{notice.title}}</th>
                            <th>{{notice.hits}}</th>
                            <th>{{ notice.created_at|date:"M d" }}일</th>
                            <th>{{ notice.updated_at|date:"M d" }}일</th>
                            <th>{{notice.writer}}</th>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <nav>
                <ul class="pagination pagination-sm justify-content-center">
          
                    <li class="page-item">
                        <a class="page-link mx-0" {% if notices.has_previous %} href="?page={{notices.previous_page_number}}" {%else%} href ="#" onclick="fnc();return false;"
                        {% endif %}>이전</a>
                    </li>
                    
    
                    {% for p in notices.paginator.page_range %}
                    {% if p >= notices.number|add:-4 and p <= notices.number|add:4 %}
                    {%if p == notices.number%}
                    <li class="page-item">
                        <a class="page-link mx-0 text-white bg-primary" href="?page={{p}}" class="mx-1">{{p}}</a>
                    </li>
                    {%else%}
                    <li class="page-item">
                        <a class="page-link mx-0" href="?page={{p}}" class="mx-1">{{p}}</a>
                    </li>
                    {%endif%}
                    {%endif%}
                    {% endfor %}
    
                    <li class="page-item">
                        <a class="page-link mx-0" {% if notices.has_next %} href="?page={{notices.next_page_number}}" {%else%} href ="#" onclick="fnc();return false;"{% endif %}>다음</a>
                </ul>
            </nav>
        </div>
        {% if request.user.is_superuser %}
        <a href="{% url 'matchingMatch:notice_create' %}">글 작성</a>
        {% endif %}
    </div>
</div>


{% endblock content %}