{% extends 'matchingMatch/base.html' %}
{% block content %}
<body>
    <div class="wrap w-100 vh-100 d-flex bg-light justify-content-center p-0">
        <div class="d-flex flex-column bg-white" style = "width:700px;">
            <div class="d-flex flex-column text-center mt-5 align-content-around">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <div>
                        <div>
                            <img src="{{match.host_id.team_logo.url}}" alt="">
                        </div>
                        <div>
                            {{match.host_id.team_name}}
                        </div>
                    </div>
                    <div>
                        vs
                    </div>
                    <div>
                        <div>
                            <img src="{{match.host_id.team_logo.url}}" alt="">
                        </div>
                        <div>
                            {{match.participant_id.team_name}}
                        </div>
                    </div>
                </div>
                <div class="mb-3">즐거운 경기 되셨나요? 수고한 상대팀에게 좋은 점수 부탁드려요!</div>
                <form action="{% url 'matchingMatch:rate_match' match.pk %}" method="post">
                    {% csrf_token %}
                    <div>
                        <label>실력: <input name="level" type="number" max="10" min="1"></label>
                        <label>매너: <input name="manner" type="number" max="10" min="1"></label>
                    </div>
                    <input type="submit" value="제출" class="btn btn-outline-warning mt-3" style="color:black; font-size:12px;">
                </form>
            </div>    
        </div>
    </div>
</body>
{% endblock content%}