{% extends 'matchingMatch/base.html' %}
{% block content %}

<div class="wrap w-100 vh-100 d-flex bg-light justify-content-center p-0">
    <div class="d-flex flex-column bg-white " style = "width:700px;">
        <div>
            <h1>신고글 생성</h1> 
        </div>
        <div>
            <form action="{% url 'matchingMatch:report_create' team.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}    
                {{form.as_p}}
                <div class="create">
                    <button class="btn btn-outline-warning btn-sm" type="submit" style="text-decoration:none; color:black;">
                        저장하기
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}