<div>작성자: {{report.writer}}</div>
<div>제목: {{report.title}}</div>
<div>내용: {{report.content}}</div>
{% if report.image %}
<div>첨부이미지: <img src="{{report.image.url}}" alt=""></div>
{% endif %}
<div>최초 작성일자: {{report.created_at}}</div>
<div>최근 수정일자: {{report.updated_at}}</div>
<a href="{% url 'matchingMatch:report_list' %}">목록으로</a>
<a href="/report_detail/{{report.pk}}/update">수정하기</a>
<form action="/report_detail/{{report.pk}}/delete" method="post">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
</form>