{% extends 'matchingMatch/base.html' %}
{% load static %}
{% block content %}
<body>
  <div class="wrap w-100 h-100 d-flex bg-light justify-content-center p-0" style="min-height:100vh">
		<div class="d-flex flex-column bg-white " style = "width:700px;">
      <div class="section justify-content-center text-center mt-3">
				{% if user.team_logo %}
				<img class="user--team_logo--lg mb-3" src="{{team.team_logo.url}}" />
        <h1>{{team.team_name}}</h1>
				{% endif %}
			</div>

      <div class = "team-detail-mid justify-content-center text-center ">
        <div class="team-intro text-center mb-4">
          <div><h3>팀 소개</h3></div>
          <div style="margin:auto; width:60%;
          height: 50%; ">{{team.team_intro}}</div>
        </div>
        <div class = "team-info">
          <div class="my-1"><strong>경기횟수:</strong> {{team.match_count}}</div>
          {% if team.match_count >= 3 %}
          <div class="my-1"><strong>실력:</strong> {{level}}</div>
          <div class="my-1"><strong>매너:</strong> {{manner}}</div>
          {% else %}
          <div class="my-1"><strong>실력:</strong> - </div>
          <div class="my-1"><strong>매너:</strong> - </div>
          <div style="color:gray;">경기 횟수를 충족시키지 않아 실력과 매너 점수가 보이지 않습니다</div>
          {% endif %}
          <div class="my-1"><strong>선출여부</strong>: {{team.pre_proplayer}}</div>
        </div>
      </div class = "team-detail-bottom">
        




      <div class="waiting accordion m-3" id="accordionExample" style="font-size:12px;">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button bg-light text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:black; font-size:20px;">
                {{team.team_name}}팀이 현재 모집 중인 매치
              </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% for match in match_list %}
                <div class="my-2 justify-content-center" style="margin:auto; font-size:15px;">
                  <a href="{% url 'matchingMatch:match_detail' match.pk%}" style="text-decoration:none;">
                    <div class="row justify-content-center" >
                      <div class="col-3" style="padding-right:0;">{{match.date}}</div>
                      <div class="col-2" style="padding:0;">{{match.start_time}}</div>
                      <div class="col-6" style="padding-left:0;">{{match.stadium}}</div>
                    </div>
                  </a>
                </div>
                {%endfor%}
              </div>
          </div>
      </div>
    </div>



      
    </div>
  </div>
</body>
{% endblock content %}