{% extends 'matchingMatch/base.html' %}
{%load static%}
{% block content %}
<body>
    <div class="wrap w-100 vh-100 d-flex bg-light justify-content-center p-0">
		<div class="d-flex flex-column bg-white " style = "width:700px;">
            <div class="team-list d-flex flex-column justify-content-center text-center m-3">
                <h4>팀목록</h4>
                <div class="search ">
                    <form action = "{% url 'matchingMatch:team_list' %}" method="get" class="d-flex flex-row align-items-center justify-content-end" style="font-size: 12px;">
                        <select class="m-2" name="order" id="order" onChange = "form.submit();" style="height:19px;">
                            <option  value="" {%if order == "" %} selected {% endif %}></option>
                            <option value="team_name"  {%if order == "team_name" %} selected {% endif %}>
                                이름순
                            </option>
                            <option value="-level" {%if order == "-level" %} selected {% endif %}>
                                실력순
                            </option>
                            <option value="-manner" {%if order == "-manner" %} selected {% endif %}>
                                매너순
                            </option>
                        </select>
                        <div id="team-search" class="m-3">
                            <input name="team_search" type="text" style="height:19px;">
                            <button class="btn btn-primary btn-sm" type="submit">
                                검색
                            </button>
                        </div>
                    </form>
                </div>
                <table class="table table-hover success px-3" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th>팀 이름</th>
                            <th>지역</th>
                            <th>실력 점수</th>
                            <th>매너 점수</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}

                            <tr onclick="location.href='{% url 'matchingMatch:team_detail' team.pk %}'" style="cursor:pointer;">
                                <th>{{team.team_name}}</th>
                                <th>{{team.region}}</th>
                                <th>{{team.level}}</th>
                                <th>{{team.manner}}</th>
                            </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination pagination-sm justify-content-center">
                        {% if teams.has_previous %}
                        <li class="page-item">
                            <a class="page-link mx-0" href="?page={{teams.previous_page_number}}">이전</a>
                        </li>
                        {% endif %}
                        
                        {% for p in teams.paginator.page_range %}
                        <li class="page-item">
                            <a class="page-link mx-0" href="?page={{p}}" class="mx-1">{{p}}</a>
                        </li>
                        {% endfor %}
        
                        {% if teams.has_next %}
                        <li class="page-item">
                            <a class="page-link mx-0" href="?page={{teams.next_page_number}}">다음</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
{% endblock %}