{% extends 'matchingMatch/base.html' %}
{% load static %}
{% block content %}
<body>
  <div class="wrap w-100 vh-100 d-flex bg-light justify-content-center p-0">
		<div class="d-flex flex-column bg-white " style = "width:700px;">
      <div class="section justify-content-center text-center mt-3">
				{% if user.team_logo %}
				<img class="user--team_logo--lg mb-3" src="{{team.team_logo.url}}" />
        <h1>{{team.team_name}}</h1>
				{% endif %}
			</div>

      <div class = "team-detail-mid justify-content-center text-center">
        <div class="team-intro">
          <h3>팀 소개</h3>
          <div>{{team.team_intro}}</div>
        </div>
        <div class = "team-info">
          <div>경기횟수: {{team.match_count}}</div>
          {% if team.match_count >= 3 %}
          <div>실력: {{level}}</div>
          <div>매너: {{manner}}</div>
          {% else %}
          <div style="color:gray;">경기 횟수를 충족시키지 않아 실력과 매너 점수가 보이지 않습니다</div>
          {% endif %}
          <div>선출 여부: {{team.pre_proplayer}}</div>
        </div>
      </div class = "team-detail-bottom">
        
      <div class="team_match justify-content-center text-center">
        <h3>{{team.team_name}}팀이 현재 모집 중인 매치:</h3>
        {% for match in match_list %}
        <div>
          <a href="{% url 'matchingMatch:match_detail' match.pk%}">{{match.stadium}}</a>
        </div>
        {%endfor%}  
      </div>
    </div>
  </div>
</body>
{% endblock content %}