* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
  color: black;
	border: 1px solid black;
	width: fit-content;
	padding: 5px;
	background-color: #cecece;
}
li {
	list-style: none;
}
header {
	padding: 20px;
	text-align: center;
}
main {
	padding: 20px;
}
.week_slideshow {
	width: 700px;
	height: 100px;
	position: relative;
	margin: 50px auto;
	overflow: hidden;
}
.week {
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	width: 3100px; /* 슬라이드할 사진과 마진 총 넓이 */
	transition: left 0.5s ease-out;
}
/* .date {
  text-align: center;
  border: 1px solid black;
  height: fit-content;
  padding: 10px;
  cursor: pointer;
} */
.date:first-child {
	margin-left: 25px;
}
.date:not(:last-child) {
	float: left;
	margin-right: 50px;
}

.date {
}
.date div {
	width: 50px;
	text-align: center;
}

.controller span {
	position: absolute;
	background-color: transparent;
	color: black;
	text-align: center;
	border-radius: 50%;
	padding: 10px 20px;
	font-size: 1.3em;
	z-index: 10;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover {
	background-color: rgba(128, 128, 128, 0.11);
	z-index: 10;
}

.prev {
	left: -20px;
}

/* 이전 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover {
	transform: translateX(-10px);
}

.next {
	right: -20px;
}

/* 다음 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover {
	transform: translateX(10px);
}

.match_list {
	height: 500px;
	overflow: scroll;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}
.sun {
	color: red;
}
.sat {
	color: blue;
}
.match_register_btn {
	display: flex;
	justify-content: end;
}

#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 2em;
}

nav a{
   text-decoration: none;
   color: black;
   margin: 0 10px;
}


#logo--text{
   font-size: 26px;
   font-weight: 500;
}

#nav--col3{
   display: flex;
   justify-content: space-between;
   align-items: center;
}